<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../../resources/css/chessboard-1.0.0.css" rel="stylesheet">
</head>
    <body>
    <div id="myBoard" style="width: 400px"></div>
    </body>

    <script src="../../resources/js/jquery-3.4.1.min.js"></script>
    <script src="../../resources/js/chessboard-1.0.0.js"></script>
    <script src="../../resources/js/chessboard-1.0.0.min.js"></script>
    <script src="../../resources/js/boardcontroll.js"></script>


</html>