<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chess</title>
    <link th:href=@{/css/bootstrap.min.css} rel="stylesheet">
    <link th:href=@{/css/chessboard-0.3.0.min.css} rel="stylesheet">
</head>
<body>
    <h1>Основная страница</h1>
    <a href="/play">Играть с роботом</a>


    <div class="col-sm-5 col-md-6">
        <form action="#" th:action="@{/index}" th:object="${GameWithBot}" method="post" class="form-horizontal">
            <div class="form-group">
                <label for="timeBase" class="control-label col-xs-4 col-sm-6 col-md-4">Base time (min)</label>
                <div class="col-xs-4 col-sm-6 col-md-4">
                    <input th:field="*{timeBase}" type="number" class="form-control" id="timeBase" value="5">
                </div>
            </div>
            <div class="form-group">
                <label for="timeInc" class="control-label col-xs-4 col-sm-6 col-md-4">Increment (sec)</label>
                <div class="col-xs-4 col-sm-6 col-md-4">
                    <input th:field="*{timeInc}" type="number" class="form-control" id="timeInc" value="2">
                </div>
            </div>
            <div class="form-group">
                <label for="skillLevel" class="control-label col-xs-4 col-sm-6 col-md-4">Skill Level (0-20)</label>
                <div class="col-xs-4 col-sm-6 col-md-4">
                    <input th:field="*{skillLevel}" type="number" class="form-control" id="skillLevel" value="0">
                </div>
            </div>
            <div class="form-group">
                <label for="color" class="control-label col-xs-4 col-sm-6 col-md-4">I play</label>
                <div class="col-xs-4 col-sm-6 col-md-4">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active" id="color-white"><input type="radio" value="1" name="color" th:field="*{white}">White</label>
                        <label class="btn btn-primary" id="color-black"><input type="radio" value="2" name="color" th:field="*{black}">Black</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="color" class="control-label col-xs-4 col-sm-6 col-md-4"></label>
                <div class="col-xs-4 col-sm-6 col-md-4">
                    <button type="submit">New Game</button>
                </div>
            </div>
        </form>

    </div>

    <script th:src=@{/js/jquery-1.10.1.min.js}></script>
    <script th:src=@{/js/stockfish.js}></script>
    <script th:src=@{/js/bootstrap.min.js}></script>
    <script th:src=@{/js/chess.min.js}></script>
    <script th:src=@{/js/chessboard-0.3.0.min.js}></script>
    <script th:src=@{/js/enginegame.js}></script>
</body>
</html>